<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.videojuegos.css">
    <title>The Last of Us</title>
    </head>
    <body>
    <header>
      <h1>The Last of Us</h1>
    </header>    
    <main>
        <img src="../img/the_last_of_us_remake-5734703.jpg" alt="The Last of Us">
        <h2>Descripción del juego</h2>
        <p>The Last of Us es un juego de acción y supervivencia en tercera persona desarrollado por Naughty Dog. La historia se desarrolla en un mundo postapocalíptico en el que la mayoría de la población ha sido diezmada por una infección fúngica.</p>
        <h2>Características del juego</h2>
        <ul>
            <li>Modo historia inmersivo</li>
            <li>Combate visceral y realista</li>
            <li>Gráficos y animaciones impresionantes</li>
            <li>Mundo abierto con mucho para explorar</li>
            <li>Multijugador en línea emocionante</li>
        </ul>
        <h2>Requisitos mínimos</h2>
        <ul>
            <li>Procesador: Intel Core i7-8700 / AMD Ryzen 5 3600X</li>
            <li>Tarjeta gráfica: NVIDIA GeForce GTX 970 / NVIDIA GeForce 1050 Ti / AMD Radeon 470 con 4 GB de memoria</li>
            <li>Memoria RAM: 16 GB</li>
            <li>Almacenamiento: 100 GB SSD</li>
            <li>Sistema Operativo: Windows 10 64-bit versión 1909 o superior</li>
        </ul>
        <h2>Req</h2>
        <button>Comprar</button>
    </main>

    </body>
</html>

    