<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.videojuegos.css">
    <title>Hogwarts Legacy</title>
</head>
<body>
    <header style="background-image: url(../img/hogwartsimg.png);">
        <h1>Hogwarts Legacy</h1>
        <nav>
            <ul>
              <li><a href="../index.html">Inicio</a></li>
              <li><a href="./videojuego1.html">The Last of Us</a></li>
              <li><a href="./videojuego2.html">Hogwarts Legacy</a></li>
              <li><a href="./videojuego3.html">Fifa 23</a></li>
              <li><a href="./videojuego4.html">League of Legends</a></li>
              <li><a href="./videojuego5.html">Gran Turismo 7</a></li>
            </ul>
          </nav>
      </header>
    <main>
        <img src="../img/hogwartslegacy.jpg" alt="The Last of Us">
        <h2>Descripción del juego</h2>
        <p>Hogwarts Legacy es un juego de rol inmersivo en mundo abierto que se inspira de los libros de la saga Harry Potter. Disfruta del Hogwarts del siglo XIX. Tu personaje es un alumno o alumna del famoso colegio que tiene la clave de un antiguo secreto que amenaza con destruir el mundo mágico. Ahora puedes tomar el control de la acción y ser el centro de tu propia aventura en el mundo mágico. El legado está en tus manos.</p>
        <h2>Características del juego</h2>
        <ul>
            <li>Modo historia inmersivo</li>
            <li>Gráficos y animaciones impresionantes</li>
            <li>Mundo abierto con mucho para explorar</li>
            <li>Multijugador en línea emocionante</li>
        </ul>
        <h2>Requisitos mínimos</h2>
        <ul>
            <li>Procesador: Intel Core i5-6600 (3.3 GHz) / AMD Ryzen 5 1400 (3.2 GHz)</li>
            <li>Tarjeta gráfica: NVIDIA GeForce GTX 960 4GB / AMD Radeon RX 470 4GB</li>
            <li>Memoria RAM: 16 GB</li>
            <li>Almacenamiento: 85 GB HDD</li>
            <li>Sistema Operativo: Windows 10 64-bit</li>
        </ul>
        <h2>Requisitos recomendados</h2>
        <ul>
            <li>Procesador: Intel i7-8700 (3.2 GHz) / AMD Ryzen 5 3600 (3.6 GHz)</li>
            <li>Tarjeta gráfica: NVIDIA GeForce 1080 Ti o AMD Radeon RX 5700 XT / INTEL Arc A770</li>
            <li>Memoria RAM: 16 GB</li>
            <li>Almacenamiento: 85 GB SSD</li>
            <li>Sistema Operativo: Windows 10 64-bit</li>
        </ul>
        <br>
        <iframe width="885" height="498" src="https://www.youtube.com/embed/S6GTl_vPRvU" title="Hogwarts Legacy – Tráiler PS5 en ESPAÑOL | 4K | PlayStation España" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <br>
        <button>Comprar</button>
    </main>
</body>
</html>