<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.videojuegos.css">
    <title>The Last of Us</title>
    </head>
    <body>
     <header style="background-image: url(../img/tlouimg.jpg);">
        <div class="container">
         <h1 class="titulo-principal">The Last of Us</h1>
        </div>
         <nav>
            <ul>
             <li><a href="../index.html">Inicio</a></li>
             <li><a href="./videojuego1.html">The Last of Us</a></li>
             <li><a href="./videojuego2.html">Hogwarts Legacy</a></li>
             <li><a href="./videojuego3.html">Fifa 23</a></li>
             <li><a href="./videojuego4.html">League of Legends</a></li>
             <li><a href="./videojuego5.html">Gran Turismo 7</a></li>
            </ul>
         </nav>
    </header>    
    <main>
      <img src="../img/the_last_of_us_remake-5734703.jpg" alt="The Last of Us">
      <div class="container-desc">
       <h2>Descripción del juego</h2>
       <p>The Last of Us es un juego de acción y supervivencia en tercera persona desarrollado por Naughty Dog. La historia se desarrolla en un mundo postapocalíptico en el que la mayoría de la población ha sido diezmada por una infección fúngica.</p>
       <br><br><br><br><br>
       <h2>Características del juego</h2>
       <ul>
         <li>Modo historia inmersivo</li>
         <li>Combate visceral y realista</li>
         <li>Gráficos y animaciones impresionantes</li>
         <li>Mundo abierto con mucho para explorar</li>
         <li>Multijugador en línea emocionante</li>
       </ul>
       <h2>Requisitos mínimos</h2>
       <ul>
         <li>Procesador: Intel Core i7-8700 / AMD Ryzen 5 3600X</li>
         <li>Tarjeta gráfica: NVIDIA GeForce GTX 970 / NVIDIA GeForce 1050 Ti / AMD Radeon 470 con 4 GB de memoria</li>
         <li>Memoria RAM: 16 GB</li>
         <li>Almacenamiento: 100 GB SSD</li>
         <li>Sistema Operativo: Windows 10 64-bit</li>
       </ul>
        <h2>Requisitos recomendados</h2>
        <ul>
         <li>Procesador: Intel Core i7-9700K / AMD Ryzen 5 5600X</li>
         <li>Tarjeta gráfica: NVIDIA GeForce RTX 2080 Ti / AMD Radeon RX 6750XT</li>
         <li>Memoria RAM: 32 GB</li>
         <li>Almacenamiento: 100 GB SSD</li>
         <li>Sistema Operativo: Windows 10 64-bit</li>
        </ul>
     </div>
      <div class="button-container">
        <button class="btn">Comprar</button>
      </div>
      <div class="video-container">
        <iframe width="885" height="498" src="https://www.youtube.com/embed/Mel8DZBEJTo" title="The Last of Us Parte I - Tráiler de LANZAMIENTO PS5 en ESPAÑOL | 4K | PlayStation España" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      </div>
    </main>

    </body>
</html>

    