<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.videojuegos.css">
    <title>League of Legends</title>
</head>
<body>
    <header style="background-image: url(../img/leagueoflegendsimg.png);">
        <div class="container">
        <h1 class="titulo-principal">League of Legends</h1>
        </div>
        <nav>
            <ul>
              <li><a href="../index.html">Inicio</a></li>
              <li><a href="./videojuego1.html">The Last of Us</a></li>
              <li><a href="./videojuego2.html">Hogwarts Legacy</a></li>
              <li><a href="./videojuego3.html">Fifa 23</a></li>
              <li><a href="./videojuego4.html">League of Legends</a></li>
              <li><a href="./videojuego5.html">Gran Turismo 7</a></li>
            </ul>
          </nav>
      </header>
    <main>
        <img src="../img/lol.jpg" alt="fifa23">
        <h2>Descripción del juego</h2>
        <p>League of Legends es un juego de estrategia por equipos en el que dos equipos de cinco campeones se enfrentan para ver quién destruye antes la base del otro. Elige de entre un elenco de 140 campeones para realizar jugadas épicas, asesinar rivales y derribar torretas para alzarte con la victoria</p>
        <h2>Características del juego</h2>
        <ul>
            <li>Multijugador en línea emocionante</li>
            <li>MOBA</li>
            <li>Videojuego de rol de acción</li>
        </ul>
        <h2>Requisitos mínimos</h2>
        <ul>
            <li>Procesador: Intel Core i3 350 / AMD Ryzen A6-3650</li>
            <li>Tarjeta gráfica: GeForce 560 / AMD HD 6570</li>
            <li>Memoria RAM: 16 GB</li>
            <li>Almacenamiento: 12 GB</li>
            <li>Sistema Operativo: Windows 10 64-bit</li>
        </ul>
        <h2>Requisitos recomendados</h2>
        <ul>
            <li>Procesador: Intel Core i5-3300 / AMD Ryzen 3 1200</li>
            <li>Tarjeta gráfica: NVIDIA GeForce 9600GT / AMD Radeon HD 6950</li>
            <li>Memoria RAM: 16 GB</li>
            <li>Almacenamiento: 12 GB</li>
            <li>Sistema Operativo: Windows 10 64-bit</li>
        </ul>
        <div class="button-container">
            <button class="btn">Comprar</button>
        </div>
        <div class="video-container">
        <iframe width="885" height="498" src="https://www.youtube.com/embed/aR-KAldshAE" title="Warriors | Cinemática de la temporada 2020 - League of Legends (con 2WEI y Edda Hayes)" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
    </main>
</body>
</html>