<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.videojuegos.css">
    <title>Fifa 23</title>
</head>
<body>
    <header style="background-image: url(../img/fifaimg.jpg);">
        <div class="container">
        <h1 class="titulo-principal">Fifa 23</h1>
        </div>
        <nav>
            <ul>
              <li><a href="../index.html">Inicio</a></li>
              <li><a href="./videojuego1.html">The Last of Us</a></li>
              <li><a href="./videojuego2.html">Hogwarts Legacy</a></li>
              <li><a href="./videojuego3.html">Fifa 23</a></li>
              <li><a href="./videojuego4.html">League of Legends</a></li>
              <li><a href="./videojuego5.html">Gran Turismo 7</a></li>
            </ul>
          </nav>
      </header>
    <main>
        <img src="../img/fifa23.jpg" alt="fifa23">
        <h2>Descripción del juego</h2>
        <p>FIFA 23 es un videojuego de simulación de fútbol publicado por Electronic Arts. Es la trigésima entrega de la serie FIFA desarrollada por EA Sports, y la última entrega bajo el estandarte de FIFA, y lanzada en todo el mundo el 30 de septiembre de 2022 para PC, Nintendo Switch, PlayStation 4, PlayStation 5, Xbox One, Xbox Series X/S y Google Stadia</p>
        <h2>Características del juego</h2>
        <div class="container-desc">
        <ul>
            <li>Un solo jugador</li>
            <li>Divisiones y torneos increíbles</li>
            <li>Modo Mundial de Qatar</li>
            <li>Multijugador en línea emocionante</li>
        </ul>
        <h2>Requisitos mínimos</h2>
        <ul>
            <li>Procesador: Core i5 6600k / AMD Ryzen 5 1600</li>
            <li>Tarjeta gráfica: GeForce GTX 1050 Ti / AMD Radeon RX 570</li>
            <li>Memoria RAM: 8 GB</li>
            <li>Almacenamiento: 100 GB</li>
            <li>Sistema Operativo: Windows 10 64-bit</li>
        </ul>
        <h2>Requisitos recomendados</h2>
        <ul>
            <li>Procesador: Intel Core i7 6700 / AMD Ryzen 7 2700X</li>
            <li>Tarjeta gráfica: NVIDIA GeForce GTX 1660 / AMD Radeon RX 5600 XT</li>
            <li>Memoria RAM: 12 GB</li>
            <li>Almacenamiento: 100 GB</li>
            <li>Sistema Operativo: Windows 10 64-bit</li>
        </ul>
        </div>
        <div class="button-container">
            <button class="btn">Comprar</button>
        </div>
        <div class="video-container">
        <iframe width="885" height="498" src="https://www.youtube.com/embed/fEDLyprRKao" title="FIFA 23:The World’s Game -  Tráiler de PRESENTACIÓN en ESPAÑOL | PlayStation España" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
    </main>
</body>
</html>