<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.videojuegos.css">
    <title>Gran Turismo 7</title>
</head>
<body>
    <header>
        <h1>Gran Turismo 7</h1>
        <nav>
            <ul>
              <li><a href="../index.html">Inicio</a></li>
              <li><a href="./videojuego1.html">The Last of Us</a></li>
              <li><a href="./videojuego2.html">Hogwarts Legacy</a></li>
              <li><a href="./videojuego3.html">Fifa 23</a></li>
              <li><a href="./videojuego4.html">League of Legends</a></li>
              <li><a href="./videojuego5.html">Gran Turismo 7</a></li>
            </ul>
          </nav>
      </header>
    <main>
        <img src="../img/granturismo.jpg" alt="fifa23">
        <h2>Descripción del juego</h2>
        <p>Gran Turismo es un videojuego de carreras. El jugador debe maniobrar un automóvil para competir contra conductores con IA en varias pistas de carreras. El juego usa dos modos diferentes: Modo Arcade y Modo Simulación (Modo Gran Turismo en PAL y versiones japonesas)</p>
        <h2>Características del juego</h2>
        <ul>
            <li>Simracing</li>
            <li>Multijugador emocionante</li>
        </ul>
        <h2>Requisitos mínimos</h2>
        <ul>
            <li>Procesador: Intel i5-4460 / AMD Ryzen 3 1200</li>
            <li>Tarjeta gráfica: NVidia GTX 970 o AMD RX 470</li>
            <li>Memoria RAM: 8 GB</li>
            <li>Almacenamiento: 110 GB</li>
            <li>Sistema Operativo: Windows 10 64-bit</li>
        </ul>
        <h2>Requisitos recomendados</h2>
        <ul>
            <li>Procesador: Intel i5-8400 / AMD Ryzen 5 1500X</li>
            <li>Tarjeta gráfica: NVidia GTX 1070 / AMD RX 590</li>
            <li>Memoria RAM: 16 GB</li>
            <li>Almacenamiento: 12 GB</li>
            <li>Sistema Operativo: Windows 10 64-bit</li>
        </ul>
        <br>
        <iframe width="885" height="498" src="https://www.youtube.com/embed/1tBUsXIkG1A" title="Gran Turismo 7 - PlayStation Showcase 2021 Trailer | PS5" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <br>
        <button>Comprar</button>
    </main>
</body>
</html>